.btn {
  background-color: purple;
  border-radius: 8px;
  height: 90px;
  font-size: 1.8rem;
  width: 90px;
  margin: 4px;
}
.btn:hover {
  background-color: cadetblue;
}

.delete {
  background-color: red;
  border-radius: 8px;
  font-size: 1.8rem;
  width: 90px;
  height: 90px;
  margin: 4px;
}
.delete:hover {
  background-color: cadetblue;
}

.submit {
  margin: 4px;
  border-radius: 8px;
  height: 90px;
  width: 90px;
  font-size: 1.8rem;
  background-color: green;
}
.submit:hover {
  background-color: cadetblue;
}
